.Input {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border: solid 1px var(--color-slate-300);
    border-radius: 8px;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    transition-duration: 100ms;
    min-width: 200px;
    min-height: 40px;
    max-height: 40px;
}

.Input:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.Input:focus-visible {
    outline: 2px solid var(--color-blue-500);
    outline-offset: 2px;
}