.form {
    border: solid 1px var(--color-slate-300);
    border-radius: 8px;
    padding: 16px;
}

.form-fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
    border: none;
}

.add-fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 64px;
    width: 100%;
    border-radius: 8px;
    border: solid 1px var(--color-slate-300);
    background-color: transparent;
    transition-duration: 100ms;
    cursor: pointer;
}

.add-fieldset:hover {
    background-color: var(--color-slate-50);
}

.add-fieldset svg {
    width: 32px;
    height: 32px;
}

.results {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    border-top: solid 1px var(--color-slate-300);
    border-bottom: solid 1px var(--color-slate-300);
    display: flex;
    justify-content: end;
}

.save-fieldset {
    border: none;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    border-radius: 8px;
    background-color: var(--color-green-500);
    color: white;
    transition-duration: 100ms;
}

.save-fieldset:hover {
    background-color: var(--color-green-600);
}

.save-fieldset {
    width: 32px;
    height: 32px;
}