.SelectTrigger {
    background-color: var(--color-slate-50);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border: solid 1px var(--color-slate-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    transition-duration: 100ms;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
}

.SelectTrigger:hover {
    background-color: var(--color-slate-100);
}

.SelectTrigger:focus-visible {
    outline: 2px solid var(--color-blue-500);
    outline-offset: 2px;
}

.SelectIcon svg, .SelectItemIndicator svg {
    width: 18px;
    height: 18px;
}

.SelectContent {
    margin-top: 52px;
    background-color: var(--color-slate-50);
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border: solid 1px var(--color-slate-300);
}

.SelectViewport {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.SelectItem {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    border-radius: 8px;
    transition-duration: 100ms;
    outline: none;
}

.SelectItem:hover, .SelectItem:focus-visible {
    background-color: var(--color-slate-100);
}
